@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0e3eb;
}

.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.display {
    height: 80px;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: #000e1a;
    padding: 10px;
    border-radius: 6px;
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button {
    padding: 15px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
    transition: background-color 0.3s, transform 0.1s;
}

.buttons button:active {
    transform: scale(0.95);
}

.operator {
    color: rgb(18, 224, 197);
    background-color: #d4f2f1;
}

.operator:hover {
    background-color: #b0e2e1;
}

.buttons button:hover {
    background-color: #ddd;
}
